</nav>
<%= form_for @recipe_blog, html: {multipart: true} do |f| %>
 <!--에러 메세지 생성-->
  <% if @recipe_blog.errors.any? %>     
    <div id="error_explanation">
      <h2><%= pluralize(@recipe_blog.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% @recipe_blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


 <div class="card-content">
    <div class="panel-body">
      <div class="input-field">
       
       <a class="waves-effect waves-light btn-large btn-file"><i class="material-icons left">photo</i>
         메인 사진을 올려주세요! 
       <%= f.file_field :blogs_main_pic %>
      </a>
      </div>
       
       <div class="col s12">
         <div class="input-field form_control">
          <%=f.label "레시피 요리명" %>
            <%= f.text_field :title, class: 'materialize_textarea', placeholder: '음식이름을 소개해주세요!' ,style: 'width: 580px; height: 120px'   %>
         </div>
         <div class="input-field">
           <%=f.label "요리소개" %>
           <%= f.text_area :r_description, class: 'materialize_textarea', placeholder: '당신의 레시피 사연을 적어주세요!', style: 'width: 580px; height: 200px'    %>
         </div>
        </div> 
       </div>  
       
       <h2>"준비과정"</h2>
       <div class="row">  
        <div class="col s12 m4">
         <div id="ingrediants">
         
           <h3>식재료 </h3>
            <div class="links">
           <div> <%= link_to_add_association '추가', f , :ingrediants, partial: 'ingrediant_fields', class: "waves-effect waves-light btn-large btn-file add-button" %></div> 
            </div> 
          
         </div>
        </div> 
           <h3>  "레시피" </h3>
        <div class="col s12 m8">
         <div id="directions">
          
          
           <div class="links">
            <%= link_to_add_association '추가', f , :directions, class: "waves-effect waves-light btn-large btn-file add-button" %> 
           </div>
           
          </div>
       
         </div>   
        </div>
        <div class="col s12"> 
         <div class="input-field">
          <a class="waves-effect waves-light btn-large btn-file"><i class="material-icons left">photo</i>
         완성된 요리 사진을 올려주세요! 
         <%= f.file_field :blogs_dish_pic %>
          </a>
         </div>
        </div>
        <div class="col s12">
         **** 무조건 추가하는게 아니라 원하면 추가 정보 입력가능 설정 필요 
         <h3>잡학상식 </h3>  
          <div class="links">
           <%= link_to_add_association '잡학 상식 추가', f , :trivia_knows, partial: 'trivia_know_fields', class: "waves-effect waves-light btn-large btn-file" %> 
          </div> 
        </div>
       </div>
       <div class="input-field actions">
          <%= f.submit "작성하기" , class: "btn"%>
      </div>
    </div>    
<%end%>